// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('http://fonts.googleapis.com/css?family=Amarante');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: arial;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: #eee url('45degreee_fabric_@2X.png');
  font-size: 100%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

a:link { 
  color: #158;
text-decoration: underline;
}
a:visited { 
  color: #146;
}
a:hover { 
  color: #555555;
background-color: transparent;
text-decoration: overline;
}
a:active { 
  color: #333333;
}

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 { 
  font-family: 'Tahoma';
  font-weight: bold;
  font-size: 4em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: left;
  color: #ddd;
  background: #365DA0;
-webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

h2 {
  font-family: 'Tahoma';
  font-weight: bold;
  font-size: 3em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
  color: #365DA0;
  background: #ddd;
-webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

h3 {
  font-family: 'Tahoma';
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.2em;
  margin-bottom: 2px;
  text-align: left;
  color: #146;
}


/** page structure **/
#wrapper {
  display: block;
  width: 1000px;
  height: 2000px;
  background: #eee;
  margin: 0 auto;
  padding: 12px 12px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0.3,0.3,0.3,0.3);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}


#keywords tbody tr { 
  color: #146;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}
