<h1>Accounting Pro</h1>
<div id="wrapper">
<h2>New transaction</h2>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "field_with_errors" %>
<% end -%>

<p>
</P>

<%= render 'form' %>

<%= link_to 'Cancel', :back %> |
<%= link_to 'Home', accounts_path %>
</div>
